@{
}

<div class="container-full" ng-controller="Detalhesctrl">

    <div class="widget">
        <div class="widget-head">
            <div class="pull-left">
                <span ng-if="item.STA_NOME == 'Não Detectada'" class="label label-success">{{ item.SUB_NOME }}</span>
                <span ng-if="item.STA_NOME == 'Detectada'" class="label label-danger">{{ item.SUB_NOME }}</span>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="widget-content">

            <div class="col-md-3">Derivado da(o):</div>
            <div class="col-md-9">{{ item.DER_NOME }}</div>

            <div class="col-md-3">STATUS:</div>
            <div class="col-md-9">
                <span ng-if="item.STA_NOME == 'Não Detectada'" class="label label-success">{{ item.STA_NOME }}</span>
                <span ng-if="item.STA_NOME == 'Detectada'" class="label label-danger">{{ item.STA_NOME }}</span>
            </div>

            <div class="col-md-12">Detalhes:</div>
            <div class="col-md-12">{{ item.SUB_DETALHES }}</div>

            <div class="clearfix"></div>
            <div class="widget-foot">
                <div class="pull-right">
                    xxxx
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    @Scripts.Render("~/Content/js/substancia.js")
}