@{
    Layout = null;
}
<h2>Pesquisa Substancia</h2>

<div class="container-fluid" ng-controller="PesquisaController" ng-init="init()">
    <div id="alerts-container"></div>
    <div class="row">
        <div class="bs-callout bs-callout-info">
            
          <div class="form-group">
            <label for="exampleInputEmail1">Filtro de Pesquisa</label>
              <div class="input-group input-group-lg">
                <span class="input-group-addon"><li class="glyphicon glyphicon-search"></li></span>
                <input type="text" ng-model="search" class="form-control" placeholder="digite um parametro para pesquisa">
              </div>
          </div>

        </div>
    </div>

   <div class="row">
  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><span class="label label-info">Registros: {{listSubstancia.length}}</span> <a href="#/substancia/cadastro"  class="btn btn-primary btn-xs pull-right"><li class="glyphicon glyphicon-plus-sign"></li> Cadastrar Substancia</a></div>

    <div class="table-responsive">
        <div loading-container="tableParams.settings().$loading">
      <table class="table table-hover table-striped"  ng-table="tableParams">
            
            <tbody>
              <tr ng-repeat="item in $data | filter:search">
                <td data-title="'#'" >
                    <a href="#/substancia" ng-click="remover(item, $index)" title="Remover" class="btn btn-default btn-xs"><li class="glyphicon glyphicon-trash"></li></a>
                    <a href="#/substancia/{{item.SUB_ID}}/alterar" title="Alterar" class="btn btn-default btn-xs"><li class="glyphicon glyphicon-edit"></li></a>
                </td>
                <td  data-title="'Nome'">{{item.SUB_NOME}}</td>
                <td  data-title="'Detalhe'">{{item.SUB_DETALHES}}</td>
                <td  data-title="'Status'">{{item.STA_NOME}}</td>
              </tr>
              
            </tbody>
          </table>
      
    </div>
    </div>
       
    </div>
</div>