@{
    Layout = null;
}
<h2>Cadastro de Substancia</h2>

<p class="bg-info"><li class="glyphicon glyphicon-info-sign"></li> Os campos com (*) sao de preenchimento obrigatorio</p>

<form role="form" ng-controller="SubstanciaController" ng-init="init()" ng-submit="salvar()">
    <div id="alerts-container"></div>
  <div class="form-group">
    <label for="exampleInputEmail1">Nome</label>
    <input type="text" class="form-control" maxlength="255" ng-model="form.SUB_NOME" required autofocus placeholder="digite o nome da substancia">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Derivacao</label>
    <select class="form-control" ng-model="form.DER_ID" ng-options="c.SUB_ID as c.SUB_NOME for c in listDerivacao">
        <option>Selecione...</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Status</label>
    <select class="form-control" ng-model="form.STA_ID" ng-options="c.STA_ID as c.STA_NOME for c in listStatus" required>
        <option>Selecione...</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Detalhes</label>
    <textarea class="form-control" ng-maxlength="4000" rows="3" ng-model="form.SUB_DETALHES" placeholder="digite o detalhamento da substancia" required></textarea>
  </div>
  
  <div class="pull-right">
    <button type="submit" class="btn btn-primary"><li class="glyphicon glyphicon-floppy-save"></li> Salvar</button>
    <a href="#/substancia" class="btn btn-default"><li class="glyphicon glyphicon-chevron-left"></li> Voltar</a>
  </div>
</form>
